body{
  background-color: #fde2f3;
}

h1 {
  text-align: center;
  margin-top: 20px;
  color: #2A2F4F;
  font-family: calibri;
}

.copyright {
  color: aliceblue;
}

p.accroche {
  text-align: center;
  margin-bottom: 40px;
}

div.dejavusans {
  color: #2A2F4F;
  font-family: sans-dejavu;
}

p.nom {
  text-align: right;
}

.ligne {
  text-align: center;
}

li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.brli {
  margin-top: 20px;
}

li a:hover {
  color: #E5BEEC;
  transition-duration: 0.5s;
}

section.texte {
  margin-left: 50px;
}

h2 {
  margin-bottom: 15px;
  font-family: optima;
}

img.image_left {
  float: left;
  width: 400px;
}

img.special {
  float: left;
  width: 250px;
  margin-left: 50px;
}

img.image_right {
  float: right;
  width: 400px;
  margin-right: 40px;
  box-shadow: 2px 2px;
}

.bloc1 {
  background-color: #917FB3;
  margin-left: 400px;
  padding: 20px 10px 10px 10px;
  height: 245px;
  width: 1000px;
  box-shadow: 2px 2px;
}

.bloc2 {
  background-color: #917FB3;
  margin-left: 30px;
  padding: 20px 10px 10px 10px;
  height: 265px;
  width: 1000px;
}

.bloc3 {
  background-color: #917FB3;
  margin-left: 400px;
  padding: 20px 10px 10px 10px;
  height: 245px;
  width: 1000px;
  box-shadow: 2px 2px;
}

.bloc4 {
  background-color: #917FB3;
  margin-left: 30px;
  padding: 20px 10px 10px 10px;
  height: 250px;
  width: 1000px;
}


/*fil ariane*/
.breadcrumb {
  background-color: #2A2F4F;
  color: white;
  padding: 10px;
}

.breadcrumb ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 1px;
  padding: 1px;
}

.breadcrumb li:not(:last-child)::after {
  display: inline-block;
  margin: 0 .25rem;
  content: " →";
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

.footer {
  background-color: #2A2F4F;
  padding: 70px 0;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media(max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}

.menu-4 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;

}

.menu-4 * {
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;

}

.menu-4 li {
  display: inline-block;
  list-style: outside none none;
  margin: 0 1.5em;
  overflow: hidden;

}

.menu-4 a {
  padding: 0.3em 0;
  color: #2A2F4F;
  position: relative;
  display: inline-block;
  letter-spacing: 1px;
  margin: 0;
  text-decoration: none;
}

.menu-4 a:before,
.menu-4 a:after {
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.menu-4 a:before {
  bottom: 100%;
  display: block;
  height: 3px;
  width: 100%;
  content: "";
  background-color: #e67e22;
}

.menu-4 a:after {
  padding: 0.3em 0;
  position: absolute;
  bottom: 100%;
  left: 0;
  content: attr(data-hover);
  color: #2A2F4F;
  white-space: nowrap;
}

.menu-4 li:hover a,
.menu-4 .current a {
  transform: translateY(100%);
}
